<div class="fondoFormularios">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <button type="button" class="botonM" routerLink="/"><i class="fa-solid fa-arrow-left"></i></button>
      <h2 class="active"> Nueva Institucion </h2>
      
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  
        <div class="form-group">
            <label for="nombreE">Nombre de la Institucion:</label>
            <input type="text" id="nombreE" class="fadeIn second" name="nombreE" placeholder="Ingrese el nombre de la Institucion" [(ngModel)]="nombreE" required>
        </div> 
  
        <div class="form-group">
          <label for="descripcion">Descripcion:</label>
          <textarea id="descripcion" class="fadeIn third" name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcionE" required></textarea>
        </div>
  
        <div class="form-group">
          <label for="fechaI">Fecha Inicio:</label>
          <input type="text" id="fechaIni" class="fadeIn second" name="fechaIni" placeholder="MM/AA    -    Ej: 05/22" [(ngModel)]="fechaIni" required>
        </div>
  
        <div class="form-group">
          <label for="fechaF">Fecha Fin:</label>
          <input type="text" id="fechaFin" class="fadeIn second" name="fechaFin" placeholder="MM/AA    -    Ej: 10/22" [(ngModel)]="fechaFin" required>
        </div>
          <br>
          <input type="submit" class="fadeIn fourth" value="Agregar">
  
      </form>
    </div>
  </div>
</div>