<div>
    <div class="container">
        <div>
            <img src="../../../assets/APLogo.png" alt="logoAP" id="logoAP">
        </div>
        <div style="display: flex;">
            <div class="redes">
                 <a href="https://www.linkedin.com/in/gaston-diaz-39083a1b3/"><img src="../../../assets/linkedin.png"></a>
                 <a href="https://github.com/Gaston-Diaz"><img src="../../../assets/github.png"></a>
                 <a href="https://www.instagram.com/_gastondiaz/"><img src="../../../assets/instagram.png"></a>
                 <!--<a href="#"><img src="../../../assets/twitter.png"></a>-->
                 <div>
                    <button type="button" class="botonP" (click)="login()" *ngIf="!isLogged()"><i class="fa-solid fa-right-to-bracket"></i></button>
                    <button type="button" class="botonP" (click)="logout()" *ngIf="isLogged()"><i class="fa-solid fa-right-from-bracket"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
