.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
    float: left;
}
img{
    width: 40px;
}
.redes{
    margin-top: 17px;
    margin-right: 7px;
    display: flex;
}
.botonP{ /* BOTONES DEL LOGIN */
    border-radius: 50px;
    border-color: white;
    padding: 1px;
    width: 42px;
    height: 42px;
    cursor:pointer;
    background-color: transparent;
    opacity: 100%;
}
.fa-right-to-bracket{
    color: white;
    font-size: 23px;
}
.fa-right-to-bracket:hover{
    color: #348AA7;
    font-size: 28px;
    transition: color 0.5s;
    transition: font-size 1ms;
}
.fa-right-from-bracket{
    color: white;
    font-size: 23px;
}
.fa-right-from-bracket:hover{
    color: #F26157;
    font-size: 28px;
    transition: color 0.5s;
    transition: font-size 1ms;
}
